
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@Html.ActionLink("Manage Music", "Index", "Music")<br />
@Html.ActionLink("Manage Reviews", "Index", "Reviews")<br />
@Html.ActionLink("Manage Users", "Index", "Account")<br />
@Html.ActionLink("Manage Roles", "Index", "IdentityRole")<br />
@Html.ActionLink("Manage Albums", "Index", "Albums")
