@model RemixReview.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Review Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Music.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
