@model IEnumerable<RemixReview.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find Reviews For: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Music.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Music.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewText)
        </td>
        @if (User.IsInRole("Site Admin") || User.IsInRole("Music Admin")) {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
        else if (item.User.UserName == User.Identity.Name)
        {
            <td>
                @Html.ActionLink("Edit", "UserEdit", new { id = item.ID }) |
                @Html.ActionLink("Details", "UserReviewDetails", new { id = item.ID }) |
                @Html.ActionLink("Delete", "UserDelete", new { id = item.ID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "UserReviewDetails", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>
