@model IEnumerable<RemixReview.Models.Music>

@{
    ViewBag.Title = "List Music";
}

<h2>List Music</h2>

@using (Html.BeginForm())
{
    <p>
        Find by File Name: @Html.TextBox("searchString")<br />
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FileName, "ViewDetails", new { id = item.ID })
        </td>
        <td>
            <a href="@item.Source">OverClocked Remix</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.ActionLink(item.Category, "ListOfMusicByCategory", new { category = item.Category }, null)
        </td>
        <td>
            @Html.ActionLink("Reviews", "ListOfReviewsByMusic", "Reviews", new { id= item.ID}, null)
        </td>
    </tr>
}

</table>
